$primary-text-color: #757575;
$primary-color: #afb1b8;
$second-text-color: #ffffff;
$title-text-color: #212121;
$accent-color: #2196f3;
$defaul-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$main-font: "Roboto", sans-serif;
